.navbar{
    /*background-color: rgb(255, 255, 255);*/
    background: linear-gradient(to bottom, #16c510 55%, rgb(255,255,255,0) 51%);
    overflow:hidden;
    
    /*transition-duration: 300ms;*/

    display:flex;
    align-items: center;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content, .sticky + .question, .sticky + .mid {
    margin-top: 6vw;
}

.navbar a{
    padding: 20px;
    background-color: gray;
    color: white;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    transition-duration: 300ms;
    text-decoration: none;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 4px solid #16c510;
}

.navbar a:last-child{
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 4px solid #16c510;
}

.navbar a:first-child{
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    border-right: 1px solid black;
    border-left: 4px solid #16c510;
}

.navbar a.active{
    background-color: rgb(3, 3, 146);
}

.navbar a:hover{
    background-color: rgb(173, 173, 173);
}

.navbar a.active:hover{
    background-color: rgb(52, 52, 255);
}

.titleBar{
    background-color: aqua;
    margin: 0px;
    height: 15vw;
    background-image: url("images/TitleBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;

}

.titleBar h1{
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 6vw;
}

footer{
    /*background-color: #16c510;*/
    background: linear-gradient(to bottom,  rgb(255,255,255,0) 50%, #16c510 51%);
    height: 3vw;
    padding-left: 75vw;
    padding-right: 5vw;
    color: #fff;
    box-sizing: border-box;
}

footer p{
    background-color: #16c510;
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
    border-radius: 1.5vw;
    height: 100%;
    font-size: 1vw;
}